*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}
:root{
    /* Light mode */
    --color-primary: #C94C32;
    --color-secondary: #C48A26;
    --color-accent: #4C9A7C;
    --color-bg: #E8D4B0;
    --color-bg-secondary: #AA3C25;
    --color-text: #000000;
    --color-text-secondary: #1E120D;
    --color-icons: #E8D4B0;
}
    /* Dark mode */
[data-theme="dark"] {
    
    --color-primary: #1E3A8A;        /* deep cobalt blue */
    --color-secondary: #1E40AF;      /* bold royal blue */
    --color-accent: #38BDF8;         /* bright sky/cyan accent */
    --color-bg: #0B1120;             /* near-black navy background */
    --color-bg-secondary: #111B2E;   /* elevated dark blue surface */
    --color-text: #ffffff;           /* pale blue-gray text */
    --color-text-secondary: #ffffff; /* muted slate text */
    --color-icons: #ffffff;          /* soft neutral blue-gray icons */
}
body{
    background-color: var(--color-bg);

    font-family:poppins, sans-serif;
    font-size: 16px;
}